
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 
a{
	color:#ef8376;
  }
	:root
	{
		--main-color:#df7366;

	}
	.theme-text
	{
		 color:var(--main-color);
	}
	.navbar-brand{
		color:var(--main-color)!important;
	}
	section.header{
		background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
		url("../../images/sunset.jpg");
		width:100%;
		height:auto;
		background-position: center;
		background-size: cover;
			}
	.middle{
		height:auto;
		width: inherit;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.middle h1{
		font-size: 50px;

	}

	/* Carousel */
	.carousel slide.caroucarousel-indicators
	.button input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover, .button:hover {
		color: #fff;
		/* background: #ef8376; */
	}
	/* Carousel */

	/* Accordian */

	.accordion-button{
		background-color: #c7a674;
		color: #444;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
		transition: 0.4s;
	  }
	  .accordion-body{
		font-size: 14px;
		
	  }

	/* Button */

	form input[type="button"],
	  input[type="submit"],
	  input[type="reset"],
	  button,
	  .button {
		position: relative;
		display: inline-block;
		background: #df7366;
		color: #fff;
		text-align: center;
		border-radius: 0.5em;
		text-decoration: none;
		padding: auto;
		border: 0;
		cursor: pointer;
		outline: 0;
		font-weight: 300;
		-moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	  }

		input[type="button"]:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		button:hover,
		.button:hover {
		  color: #fff;
		  background: #ef8376;
		}

		input[type="button"].alt,
		input[type="submit"].alt,
		input[type="reset"].alt,
		button.alt,
		.button.alt {
		  background: #2B252C;
		}

		  input[type="button"].alt:hover,
		  input[type="submit"].alt:hover,
		  input[type="reset"].alt:hover,
		  button.alt:hover,
		  .button.alt:hover {
			background: #3B353C;
		  }

	/* Post */

	  .post.stub {
		text-align: center;
	  }

		.post.stub header {
		  margin: 0;
		}



	/** The Faq Section **/
	#faqSection div {
  float:left;
		display: inline-block;
		width: 46%;
		margin: 0 2%;
		overflow: hidden;
	}
	#faqSection .collapsible {
		background-color: #c7a674;
		border: 1px solid rgba(10, 10, 10, 0.16);
		border-radius: 7px;
		box-shadow: 0 10px 30px -15px rgb(0 0 0);
		transition: box-shadow .2s ease 0s;
		color: #000000;
		margin: 0 0 8px;
		width: 100%;
		padding: 12px;
		font-family: sans-serif;
		font-size: 15px;
		text-align:left;
	}
	#faqSection .collapsible:hover {
		box-shadow: 0 10px 60px -15px rgba(0,0,0,1);
	}
	/* #faqSection .active, #faqSection .collapsible:hover {} */
	#faqSection .collapsible:after {content:"\002B";font-weight:bold;float:right;margin-left:5px}
	#faqSection .active:after {content:"\2212"}
	#faqSection .faq-content {
		overflow: hidden;
		width: calc(100% - 8%);
		padding: 5px 2%;
		transition: all .25s ease-in-out 0s;
		background: #c7a674;
		border: 1px solid hsla(0,0%,51.4%,.16);
		border-radius: 7px;
		max-height: 0px;
		visibility: hidden;
	}
	#faqSection .faq-content p {
		font-family: sans-serif;
		color: #000000;
		line-height: 140%;
		font-size: 14px;
		margin: 0 0 12px;
		text-shadow: 1px 0px 0 rgb(0 0 0 / 80%);
		font-weight: 100;
	}
	#faqSection .faq-content a {
		color: #00C58E;
		font-weight: 600;
		letter-spacing: .05rem;
	}
	#faqSection .faq-content ul {border-left:2px solid #00C58E}
	#faqSection .faq-content li {
		color: #bad2e2;
		font-size: .85rem;
		line-height: 160%;
		font-weight: 200;
		margin: 8px 0 8px 2%;
		list-style: none;
		width: 90%;
		font-family: sans-serif;
		text-shadow: 1px 1px 0 rgb(0 0 0);
	}
	@media screen and (max-width: 840px) {

		#faqSection div {
			float:left;
			display: inline-block;
			width: 100%;
			margin: 0 2%;
			overflow: hidden;
		}
	}
    
	/* Style the tab */
.tab {
	font-family: 'Karla', sans-serif;
	overflow: hidden;
	
  }
  
  
	
	/* Style the buttons inside the tab */
.tab button {
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
	font-size: 17px;

	color: #555;
	background: #fff;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	text-align: center;
	padding: 8px 7px 7px;
	margin: 0 10px 12px 0;
	border-radius: 30px;
	border: none;
	
	overflow: hidden;
	position: relative;
	z-index: 1;
	transition: all 0.5s ease 0s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
	color: rgb(9, 9, 9);
	background: #c7a674;
	border: none;
  }
  .tab button a:before{
	content: '';
	background-color: #c7a674;
	height: 7%;
	width: 100%;
	border-radius: 30px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: all 0.3s ease-out 0s;
}
  
  /* Create an active/current tablink class */
  .tab button.active {
	background-color: #c7a673;
  }
  
  /* Style the tab content */
  .tabcontent{
	color: rgb(10, 10, 10);
	font-size: 14px;
	background: #fff;
	font-weight: 500;
	text-transform: capitalize;
	margin: 0 0 5px;
  }
  .tabcontent h3{
	color: #cf8018;
	font-size: 22px;
	font-weight: 500;
	text-transform: capitalize;
	margin: 0 0 5px;
  }
  
